*,
* {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

header.navbar-container {
    width: 100%;
    height: 10%;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    background-color: #1c2d3c;
}

header.navbar-container .logo img {
    width: 150px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #567494;
    color: white;
}

h1{
    font-size: 3rem;
    align-items: center;
    text-align: center;
}

.btn-logout{
    position: absolute;
    top: 1rem;
    right: 3rem;
    background-color: #6c0606; /* Warna tombol */
    color: white;
    padding: 0.5rem;
    width: 150%;
    max-width: 150px;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.main {
    display: grid;
}
.card {
    padding: 1.5rem;
    margin: auto;
}
section {
    display: flex;
}
.aqiData {
    width: 1825px;
    height: 700px;
    background-color: rgba(183, 238, 255, 0.2);
    padding: 1rem 20rem;
    padding-bottom: 6rem;
    border-radius: 1rem;
    gap: 2rem;
}
.aqiData h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.historyData {
    background-color: rgba(183, 238, 255, 0.2);
    border-radius: 1rem;
    padding: 5rem;
    width: 800px;
    height: 800px;
    margin-top: -3rem;
}
.historyData h1 {
    text-align: center;
    margin-top: -2rem;
    font-size: 1.8rem;
}
.historyCo {
    background-color: rgba(183, 238, 255, 0.2);
    border-radius: 1rem;
    width: 800px;
    height: 800px;
    margin-top: -3rem;
    padding: 5rem;
}
.historyCo h1 {
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 10rem;
    font-size: 1.8rem;
}
footer {
    margin-top: 1rem;
    text-align: center; /* Pusatkan gambar secara horizontal */
    background-color: #1c2d3c; /* Atur warna latar belakang */
}

footer img {
    max-width: 200px; /* Batasi lebar gambar */
    max-height: 100px; /* Batasi tinggi gambar */
}

@media (max-width: 900px) {
    main h1{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .btn-logout{
        width: 100px;
        margin-top: 0.5rem;
    }
    .aqiData {
        width: 830px;
        height: 500px;
        margin-left: -1.7rem;
        padding: 1rem 6rem;
    }
    .historyData {
        width: 400px;
        height: 500px;
        padding: 2rem;
        margin-left:0.5rem;
    }
    .historyData h1 {
        margin-top: 0.5rem;
    }
    .historyCo {
        width: 400px;
        height: 500px;
        padding: 2rem;
        margin-left: -2.5em;
    }
    .historyCo h1 {
        margin-top: 0.5rem;
    }
}
@media (max-width: 750px) {
    .btn-logout{
        margin-top: 2.5rem;
        margin-right: -1.2rem;
        margin-top: 0.5rem;
    }
    .aqiData {
        width: 700px;
        height: 450px;
        margin-left: -1rem;
        padding: 1rem 3rem;
    }
    .historyData {
        width: 310px;
        height: 470px;
        padding: 1rem;
        margin-left: 0.2rem;
    }
    .historyData h1 {
        margin-top: 0.5rem;
    }
    .historyCo {
        width: 310px;
        height: 470px;
        padding: 0rem;
        margin-left: -2rem;
    }
    .historyCo h1 {
        padding: 1rem;
        margin-bottom: 5rem;
    }
    footer {
        margin-top: 0.5rem;
    }
}
@media (max-width: 450px) {
    .nav-list li {
        margin-right: 6rem;
    }
    .btn-logout {
        margin-right: -2rem;
        margin-top: 0.5rem;
    }
    .main {
        display: flex;
        flex-direction: column; /* Menyusun konten secara vertikal */
        width: 100%;
        align-items: center;
        padding: 0%;
    }

    section{
        flex-direction: column;
    }
    .card{
        padding: 0; 
    }
    .aqiData {
        max-width: 420px;
        height: 340px;
        margin-bottom: 1rem;
        margin-left: 1px;
        margin-top: 2rem;
        padding: 2rem 1rem;
    }
    .aqiData h1{
        margin-top: 0.5rem;
        font-size: 1.7rem;
    }
    .historyData {
        max-width: 420px;
        order: 1; /* Pastikan historyData tampil di atas */
        margin-top: 1rem;
        width: 420px;
        height: 500px;
        padding: 2rem 2rem 6rem;
    }
    .historyData h1{
        margin-top: -0.2rem;
        font-size: 1.7rem;
    }
    .historyCo {
        height: 500px;
        order: 2; /* Pastikan historyCo tampil di bawah */
        margin-top: 2rem;
        width: 420px;
        margin-left: 0.6rem;
        padding: 2rem 2rem 6rem;
    }
    .historyCo h1{
        margin-top: -1.5rem;
        font-size: 1.7rem;
        margin-bottom: 5rem;
    }
    
    footer {
        margin-top: 2rem;
    }
}