*,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Prevents horizontal overflow */
}

header.navbar-container {
    width: 100%;
    height: 10%;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    background-color: #1c2d3c;
}

header.navbar-container .logo img {
    width: 150px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

/* Menu Toggle */
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #567494;
    color: white;
}

main {
    flex: 1;
    padding: 2rem 1rem;
}

main .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: #eaf2f9;
    padding: 3rem 2rem;
    margin-top: -1rem;
    text-align: center;
    border-radius: 1rem;
}

.content-description {
    flex: 1;
    text-align: left;
    padding: 1rem;
    margin-left: 5rem;
}

.content-description h1.title {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.content-description h2.title {
    font-size: 2.5rem;
    color: #53cb8e;
}

.content-description p {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
    margin-top: 1.1rem;
}

.content-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.content-image img {
    width: 80%;
    max-width: 400px; /* Ensure image doesn’t exceed container */
    height: auto;
    margin-right: -2rem;
}

.main_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;
    margin-top: -1rem;
    margin-bottom: -4rem;
}

.map {
    display: block;
    border-radius: 1rem; /* Optional: for a rounded corner effect */
}

.indicator {
    background-color: #eaf2f9;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    height: 320px;
}

.indicator_subtitle h1 {
    font-size: 1.7rem;
    color: #000000;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem;
}

.indicator_subtitle h2 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
}

.indicator_score h1 {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 1rem;
}

.indicator_status h2.good {
    background-color: #53cb8e; /* Hijau - GOOD */
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.indicator_status h2.moderate {
    background-color: #ffeb3b; /* Kuning - MODERATE */
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.indicator_status h2.unhealthy {
    background-color: #ff5722; /* Oranye - UNHEALTHY */
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.indicator_status h2.very_unhealthy {
    background-color: #f44336; /* Merah - VERY UNHEALTHY */
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.indicator_status h2.hazardous {
    background-color: #b71c1c; /* Merah Gelap - HAZARDOUS */
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.main_content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two equal-width columns */
    gap: 2rem;
    padding: 3rem 1rem;
    align-items: start;
}

.main_education {
    background-color: #eaf2f9;
    padding: 2.1rem;
    text-align: left; /* Align text to the left for a more natural reading flow */
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 29.3rem;
}

.main_education h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #000000;
    text-align: center;
    margin-top: 3.5rem;
}

.main_education p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    color: #000000;
    text-align: center;
}

.main_education a {
    padding: 1rem 6rem;
    border-radius: 999px;
    background-color: #53cb8e;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: all 0.15s ease-in;
    display: inline-block;
    align-items: center;
    margin-left: 17rem;
}

.main_education a:hover {
    border: 2px solid #1c2d3c;
    background-color: transparent;
    color: #1c2d3c;
}

.indicator_info {
    background-color: #eaf2f9;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.indicator_info h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.indicator_info img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

.last_content {
    background-color: #eaf2f9;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
}

.last_content h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.last_content a {
    padding: 1rem 6rem;
    border-radius: 999px;
    background-color: #53cb8e;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: all 0.15s ease-in;
}

.last_content a:hover {
    border: 2px solid #1c2d3c;
    background-color: transparent;
    color: #1c2d3c;
}

footer {
    margin-top: 1rem;
    text-align: center; /* Pusatkan gambar secara horizontal */
    background-color: #1c2d3c; /* Atur warna latar belakang */
}

footer img {
    max-width: 200px; /* Batasi lebar gambar */
    max-height: 100px; /* Batasi tinggi gambar */
}

@media (max-width: 900px) {
    .content {
        width: 860px;
    }
    .content-image img {
        width: 100%;
    }
    .content-description h1 {
        margin-left: -4rem;
    }
    .content-description h2 {
        margin-left: -4rem;
    }
    .content-description p {
        margin-left: -4rem;
    }
    .main_content {
        grid-template-columns: 1fr;
    }
    .main_content .map {
        transform: scale(0.96);
        margin-left: -1rem;
        margin-top: -1rem;
        width: 0;
    }
    .indicator {
        margin-top: -1rem;
        margin-left: -1rem;
        width: 860px;
    }
    .main_education {
        margin-top: -0.2rem;
        margin-left: -1rem;
        width: 860px;
        height: 320px;
    }
    .main_education h1 {
        margin-top: 0.2rem;
    }
    .main_education p {
        line-height: 1.7rem;
        margin-top: -0.8rem;
    }
    .main_education a {
        margin-top: -0.8rem;
        margin-left: 15rem;
    }
    .indicator_info {
        margin-top: -0.2rem;
        margin-left: -1rem;
        width: 860px;
    }
    .last_content {
        margin-top: 2.8rem;
        width: 860px;
    }
    footer {
        margin-top: 1.3rem;
    }
}
@media (max-width: 750px) {
    .content {
        width: 715px;
    }
    .content-image img {
        width: 100%;
    }
    .content-description h1 {
        margin-left: -4rem;
    }
    .content-description h2 {
        margin-left: -4rem;
    }
    .content-description p {
        margin-left: -4rem;
    }
    .main_content {
        grid-template-columns: 1fr;
    }
    .main_content .map {
        transform: scale(0.8);
        margin-left: -1rem;
        margin-top: -2.5rem;
        width: 0;
    }
    .indicator {
        margin-top: -2.5rem;
        margin-left: -1rem;
        width: 715px;
    }
    .main_education {
        margin-top: -0.2rem;
        margin-left: -1rem;
        width: 715px;
        height: 350px;
    }
    .main_education h1 {
        margin-top: 0.2rem;
    }
    .main_education p {
        line-height: 1.7rem;
        margin-top: -0.8rem;
    }
    .main_education a {
        margin-top: -0.8rem;
        margin-left: 11rem;
    }
    .indicator_info {
        margin-top: -0.2rem;
        margin-left: -1rem;
        width: 715px;
    }
    .indicator_info h1 {
        font-size: 2rem;
    }
    .last_content {
        margin-top: 2.8rem;
        width: 715px;
    }
    .last_content h1 {
        font-size: 2rem;
    }
    footer {
        margin-top: 1.3rem;
    }
}
@media (max-width: 450px) {
    .nav-list {
        display: none;
        width: 100%; /* Membuat navbar penuh lebar */
        background-color: #1c2d3c; /* Warna latar belakang navbar */
        position: absolute; /* Posisi absolut untuk meletakkan navbar di bawah */
        top: 80px; /* Menempatkan navbar sedikit di bawah header */
        bottom: 1050px;
        left: 0; /* Menjaga navbar tetap sejajar dengan sisi kiri */
        flex-direction: column; /* Mengatur navbar menjadi vertikal */
        align-items: center; /* Menyusun item navbar di tengah */
        gap: 1rem; /* Jarak antar item navbar */
    }

    /* Navbar ditampilkan ketika toggle aktif */
    .nav-list.active {
        display: block; /* Menggunakan block agar navbar tampil */
    }

    /* Tombol menu toggle terlihat pada layar kecil */
    .menu-toggle {
        display: flex; /* Menampilkan tombol menu toggle */
        flex-direction: column; /* Membuat bar toggle dalam bentuk vertikal */
        cursor: pointer;
    }

    /* Desain bar pada toggle button */
    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 4px auto;
        background-color: #fff; /* Mengubah warna bar menjadi putih */
    }

    /* Menu navbar menjadi vertikal dan tampil di bawah header */
    .nav-list ul {
        padding-left: 0;
        list-style-type: none; /* Menghilangkan bullet */
        margin: 0;
        display: flex; /* Mengatur navbar item dalam flexbox */
        flex-direction: column; /* Menata item navbar secara vertikal */
        align-items: center; /* Menjaga item navbar agar terpusat */
    }

    .nav-list li {
        width: auto; /* Menyesuaikan lebar item navbar */
        text-align: center; /* Teks navbar rata tengah */
        padding: 10px 15px; /* Memberikan padding untuk item navbar */
        width: 100%; /* Lebar item navbar full */
    }

    .nav-list li a {
        color: #fff; /* Mengubah warna teks menjadi putih */
        font-size: 1.2rem; /* Ukuran font yang lebih besar */
        text-decoration: none; /* Menghilangkan garis bawah */
        display: block; /* Membuat link menjadi blok untuk meningkatkan area klik */
    }

    .nav-list li a:hover {
        background-color: #567494; /* Memberikan warna latar belakang saat hover */
    }
    .content {
        width: 420px;
    }
    .content-image img {
        display: none;
    }
    .content-description {
        gap: 1rem;
    }
    .content-description h1 {
        margin-left: -4rem;
        text-align: center;
    }
    .content-description h2 {
        margin-left: -4rem;
        text-align: center;
    }
    .content-description p {
        text-align: center;
    }
    .main_content {
        grid-template-columns: 1fr;
    }
    .main_content .map {
        transform: scale(0.47);
        margin-left: -1rem;
        margin-top: -5.5rem;
        width: 0;
    }
    .indicator {
        margin-top: -5.5rem;
        margin-left: -1rem;
        width: 420px;
    }
    .indicator_subtitle h1 {
        font-size: 1.5rem;
    }
    .indicator_subtitle h2 {
        font-size: 1.2rem;
    }
    .main_education {
        margin-top: -0.2rem;
        margin-left: -1rem;
        width: 420px;
        height: 580px;
    }
    .main_education h1 {
        margin-top: 0.2rem;
    }
    .main_education p {
        line-height: 1.7rem;
        margin-top: -0.8rem;
    }
    .main_education a {
        margin-top: -0.8rem;
        margin-left: 2rem;
    }
    .indicator_info {
        margin-top: -0.2rem;
        margin-left: -1rem;
        width: 420px;
    }
    .indicator_info h1 {
        font-size: 2rem;
    }
    .last_content {
        margin-top: 2.8rem;
        width: 420px;
    }
    .last_content h1 {
        font-size: 2rem;
    }
    footer {
        margin-top: 1.3rem;
    }
}
